.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.next
*/dist
*dev-dist
*/dev-dist

# Test Coverage & Reports
coverage/
playwright-report/
test-results/
blob-report/
junit-results.xml

