select:focus,
button:focus,
[role='option']:focus,
[role='listbox']:focus,
[tabindex]:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f9fafb !important;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f9fafb;
}
